header img {
    width: 25%;
}

header{
    text-align: center;
    background-color: #ff7b00;
}

body{
    text-align: center;
}

header img{
    width: 25%;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 7px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.calculator h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.calculator div {
    margin-bottom: 10px;
}

.calculator button {
    padding: 10px 20px;
    background-color: #3d00a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #000000;
}

.regresar button{
    padding: 10px 20px;
    background-color: #3d00a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
}

.regresar button:hover {
    background-color: #000000;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
    background-color: purple;
    color: white;
    padding: 50px 0; /* Ajusta el espacio entre el texto y los bordes */
}